.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary-color);
  padding: var(--padding-footer);

  @media screen and (max-width: 62em) {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .left {
    p {
      font-size: 1.1rem;
      font-weight: 500;
      color: var(--text-color);

      .title {
        color: var(--text-color);
      }
    }
  }

  .right {
    ul {
      display: flex;
      gap: 2rem;
      li {
        a {
          font-size: 0.9rem;
          font-weight: 300;
          color: var(--text-color);
          transition: color 0.3s ease-in-out;
          &:hover {
            color: var(--secondary-color);
            transform: translateY(4px);
          }
        }

        .footer_icon {
          font-size: 0.7rem;
          color: var(--text-color);
          transition: color 0.5s ease-in-out;
        }
      }
    }
  }
}
