.movie_detail_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--padding);
  max-width: 800px;
  margin: 2rem auto;
  min-height: 100vh;
  gap: 2rem;

  animation: slideUp 0.5s ease-in-out;

  @keyframes slideUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media screen and (max-width: 48em) {
    max-width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .image_section {
    flex: 3;
    position: relative;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
      // border: 1px solid var(--box-shadow-color);
      box-shadow: var(--secondary-color) 0px 3px 6px,
        var(--secondary-color) 0px 2px 6px;
      transition: all 0.5s ease-in-out;

      &:hover {
        filter: contrast(0.8);
      }
    }

    span {
      position: absolute;
      top: 0;
      right: 0;
      width: max-content;
      background-color: var(--tertiary-color);
      color: var(--text-color);
      border-radius: 10px;
      margin: 5px;
      padding: 5px;
      font-size: 0.8rem;
    }
  }

  .content_section {
    flex: 3;
    .movie_title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5;
      color: var(--text-color);
      margin-bottom: 0.5rem;
    }
    .para {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: var(--text-color);
      text-align: justify;
    }

    .language_and_rating {
      margin-top: 1rem;
      display: flex;
      gap: 0.6rem;
      align-items: center;
      .language {
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--text-color);
        text-align: justify;
        text-transform: uppercase;
        border: 1px solid var(--box-shadow-color);
        width: max-content;
        padding: 5px;
        border-radius: 5px;
      }

      .rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
        .avg {
          font-weight: 400;
          line-height: 1.5;
          color: var(--text-color);

          .star_icon {
            color: var(--secondary-color);
            width: 12px;
            height: 12px;
          }
        }

        .dot {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: var(--text-color);
        }
        .count {
          font-weight: 400;
          line-height: 1.5;
          color: var(--text-color);
        }
      }
    }

    .genres {
      display: flex;
      gap: 0.6rem;
      margin-top: 1rem;

      p {
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--text-color);
        text-align: justify;
        text-transform: uppercase;
        border: 1px solid var(--box-shadow-color);
        width: max-content;
        padding: 5px;
        border-radius: 5px;
      }
    }

    .other_details {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      margin-top: 1rem;

      p {
        .bold {
          font-weight: 700;
        }

        .link {
          color: var(--text-color);
          text-decoration: underline;
        }
      }
    }
  }
}
