@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #19212B;
  --secondary-color: #C0B80B;
  --tertiary-color: #12151E;
  --text-color: #bebebe;
  --box-shadow-color: #bebebe;
  --font-family: 'Poppins', sans-serif;
  --padding: 0 10px;
  --padding-footer: 5px 10px;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1rem;
  overflow-x: hidden;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



button,
input {
  font-family: var(--font-family);
  font-size: 1rem;
}

main {
  min-height: 100vh;
}

.light {
  --primary-color: #F9F6F7;
  --secondary-color: #e0d500;
  --tertiary-color: #C9CBFF;
  --tertiary-color: #e7e8fc;
  --text-color: #19212B;

  background-color: var(--primary-color);
  color: var(--text-color);

}