@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #19212B;
  --secondary-color: #C0B80B;
  --tertiary-color: #12151E;
  --text-color: #EAE3D9;
  --font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0px 10px;
}

button,
input {
  font-family: var(--font-family);
  font-size: 1rem;
}

main {
  min-height: 100vh;
}